<!-- START PAGE SIDEBAR -->
<div class="page-sidebar">
    <!-- START X-NAVIGATION -->
    <ul class="x-navigation">
        <li class="xn-logo">
            <a href="/dashboard" style="font-size: 16px;"><%=appname%></a>
            <a href="#" class="x-navigation-control"></a>
        </li>
        <li class="xn-profile">
            <a href="#" class="profile-mini">
                <img src="/images/company/logo.png" alt="logo" style="height:80px;"/>
            </a>
            <div class="profile">
                <div class="profile-image">
                    <img src="/images/company/logo.png" alt="logo" style="border:none;"/>
                </div>
                <div class="profile-data">
                    <div class="profile-data-name">Admin</div>
                </div>
            </div>
        </li>
        
        <!--For Dashboard-->
        <li id="dashboard">
            <a href="/dashboard"><span class="fa fa-chart"></span> <span class="xn-text">Dashboard</span></a>
        </li>
        <li id="admins">
            <a href="/users"><span class="fa fa-users"></span> <span class="xn-text">Admins</span></a>
        </li>
        <li id="users">
            <a href="/users"><span class="fa fa-users"></span> <span class="xn-text">Users</span></a>
        </li>
        
    </ul>
    <!-- END X-NAVIGATION -->
</div>
<!-- END PAGE SIDEBAR -->
		
